*.pyc
*.o
*.c
*~
*.orig
*.npz
*.log
*.npz
*.pyd
*.out
*_output
*.aux
*.bbl
*.blg
*.spl
*.synctex.gz
*.fdb_latexmk
*.fls
config*.json*
.ipynb_checkpoints/
.automan/
outputs/
manuscript/figures/
manuscript/auto/
code/results/
manuscript/*.pdf
build_cpu/


*.pyc
*.o
*.c
*~
*.so
*.orig
*.npz
*.log
*.pyd
*.pdf
test.pyx
*.egg-info/
build/
dist/
.tox/
*.out
*_output
manuscript/figures/*.png